<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div ng-controller="controller_blog" class="wrapper">

	<header class="header_wrapper" >
		<div class="header_left_block">
			<a href="#/"><img class="logo_header" src="../pictures/logobowery-blue.png"></img></a>
			<a href="#/"><div class="logo_title">312 Bowery in Paris</div> </a>
		</div>
		<div class="header_right_block">
			<a href="#/williambuchina"><p class="artist_name">William Buchina</p></a>
			<a href="#/colinkilian"><p class="artist_name">Colin Kilian</p></a>
			<a href="#/samuelstabler"><p class="artist_name">Samuel Stabler</p></a>
		</div>
		
	</header>

	<div class="mobile_menu">
	
		<div class="menu_header_top"><a href="#/"><img class="menu_mobile_logo" src="../pictures/logobowery-white.png"></div></a>
		<div class="menu_header_top_bg"></div>
		
		<div ng-class="classmenu" class="mobile_menu_list">
			<a href="#/" class="menu_element_link"><div class="mobile_menu_element" ng-click="">HOME</div></a>
			<a href="#/williambuchina" class="menu_element_link"><div class="mobile_menu_element" ng-click="">WILLIAM BUCHINA</div></a>
			<a href="#/colinkilian" class="menu_element_link"><div class="mobile_menu_element" ng-click="">COLIN KILIAN</div></a>
			<a href="#/samuelstabler" class="menu_element_link"><div class="mobile_menu_element" ng-click="">SAMUEL STABLER</div></a>
		</div>
		
		<div id="hamburger" ng-click="hidemenu(); crosshamburger();">
		  <span ng-class="classbar1"></span>
		  <span ng-class="classbar2"></span>
		  <span ng-class="classbar3"></span>
		  <span ng-class="classbar4"></span>
		</div>
	
	</div>

	<div class="main_block_wrapper">

		
		<div class="article_description">

			<h1 class="article_description_title">Colin Kilian</h1>
			<h2 class="article_description_subtitle">Lives and works in Kauai, Hawaï</h2>
			<p class="article_description_content">	Colin Kilian’s paintings are a vehicle for exploring and sharing phenomena that he experiences subconsciously and during meditation. Since this subject matter is generally fluid and extra dimensional in nature, the paintings have a strong quality of being in motion. The general aesthetic is partially driven by his education and work experience in design. Kilian's intention is to create works that are easily accessible because of their visual dynamism – and which unfold into deeper and more complex levels of meaning the longer one looks at them. </p>
		</div>

		<img class="displayed_photo" ng-model="painting_to_display" src="{{painting_to_display_c[0].path}}" class="photo_previews_pictures"></img>

		<div class="photo_preview_container">
			<div class="photo_preview_wrapper" ng-model="colin_paintings">
				<div class="three_pack_photo">
					<div class="photo_previews_pictures" ng-click="painting_to_display_f_c(colin_paintings[0])">
						<img src="{{colin_paintings[0].path}}" class="photo_miniature"></img>
						<div class="overlay"> <p class="click_to_display">CLICK TO DISPLAY</p></div>
					</div>
					<div class="photo_previews_pictures" ng-click="painting_to_display_f_c(colin_paintings[1])">
						<img src="{{colin_paintings[1].path}}" class="photo_miniature"></img>
						<div class="overlay"> <p class="click_to_display">CLICK TO DISPLAY</p></div>
					</div>
					<div class="photo_previews_pictures" ng-click="painting_to_display_f_c(colin_paintings[2])">
						<img src="{{colin_paintings[2].path}}" class="photo_miniature"></img>
						<div class="overlay"> <p class="click_to_display">CLICK TO DISPLAY</p></div>
					</div>				
				</div>
				<div class="three_pack_photo">
					<div class="photo_previews_pictures" ng-click="painting_to_display_f_c(colin_paintings[3])">
						<img src="{{colin_paintings[3].path}}" class="photo_miniature"></img>
						<div class="overlay"> <p class="click_to_display">CLICK TO DISPLAY</p></div>
					</div>
					<div class="photo_previews_pictures" ng-click="painting_to_display_f_c(colin_paintings[4])">
						<img src="{{colin_paintings[4].path}}" class="photo_miniature"></img>
						<div class="overlay"> <p class="click_to_display">CLICK TO DISPLAY</p></div>
					</div>
					<div class="photo_previews_pictures" ng-click="painting_to_display_f_c(colin_paintings[5])">
						<img src="{{colin_paintings[5].path}}" class="photo_miniature"></img>
						<div class="overlay"><p class="click_to_display">CLICK TO DISPLAY</p></div>
					</div>	
				</div>
			</div>
		</div>		
	</div>


</div>
